@import url(//db.onlinewebfonts.com/c/e8c6a63541de0a4211a9358cbe74690f?family=Futura);

.header {
  width: 100%;
  padding: 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .name {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  position: relative;
  font-family: "futura";
}

a {
  text-decoration: none;
}

.header a {
  color: #fff;
}

.nav-container {
  display: flex;
}
