.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header .name {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  position: relative;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

.header a {
  color: #fff;
}

.nav-container {
  display: flex;
  column-gap: 0.3rem;
}
