.full-page {
  height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-title {
  display: grid;
  row-gap: 1rem;
  align-items: center;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 8rem;
  line-height: 7rem;
  font-weight: 400;
  margin: 0;
  color: #fff;
  letter-spacing: 0.2rem;
}

.job-title {
  color: #fff;
}

.scroll-down {
  position: absolute;
  left: 10px;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-down span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.scroll-down--right {
  right: 10px;
  left: auto;
}

.title {
  width: 100%;
  text-align: center;
}

.homepage-img {
  grid-row: 1;
}

.portfolio-drawing {
  max-width: 420px;
  width: 100%;
  margin: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .homepage-title {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
  }

  .homepage-img {
    grid-column: 2;
  }

  .homepage {
    display: flex;
  }

  .portfolio-drawing {
    width: 100%;
    max-width: 500px;
  }
  .name {
    font-size: 10rem;
    row-gap: 2rem;
  }
}

.name {
  display: flex;
  flex-direction: column;
}