@import url(//db.onlinewebfonts.com/c/e8c6a63541de0a4211a9358cbe74690f?family=Futura);
.full-page {
  height: 100vh;
}

.homepage-title {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
}

h1 {
  font-family: "futura";
  font-size: 8rem;
  line-height: 7rem;
  font-weight: 400;
  margin: 0;
  color: #fff;
  letter-spacing: 0.2rem;
  position: relative;
}

h1:before {
  content: "<vinh>";
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: -5rem;
  left: -4rem;
}
h1:after {
  content: "</vinh>";
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  left: -4rem;
  bottom: -5rem;
}

.job-title {
  margin-top: 5rem;
  color: #fff;
}

.job-title:before {
  content: "<p>";
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: -2rem;
  left: -4rem;
}

.job-title:after {
  content: "</p>";
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  left: -4rem;
  bottom: -2.2rem;
}

.scroll-down {
  position: absolute;
  left: 10px;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-down span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.scroll-down--right {
  right: 10px;
  left: auto;
}

.title {
  width: 100%;
  padding: 2rem 5rem;
}

.homepage-img {
  grid-row: 1;
}

.portfolio-drawing {
  width: 80%;
  margin: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .homepage-title {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
  }

  .homepage-img {
    grid-column: 2;
  }
}
