h2 {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

.section-header {
  display: flex;
  justify-content: left;
  padding-top: 3rem;
}

.typewriter h2{
  color: #229977;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: typing 3.5s steps(25, end), blink-caret 0.5s step-end infinite;
}

.typed h2 {
  color: #229977;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: blink-caret 0.5s step-end infinite;
  border-right: 0.15em solid orange;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #777;
  }
}
